@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

#main {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

#home-content {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

#title {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

#content {
  font-family: 'Comfortaa', cursive;
  margin-top: 1rem;
  margin-left: 7rem;
}

.irr-content {
  display: none;
  height: 50rem;
  border: none;
  width: 190rem;
  align-items: center;
  text-align: center;
  padding-left: 25rem;
}
